<mat-card>
<div class="fornecedor-box">
    <button routerLink="/cadastro" mat-raised-button color="primary">Cadastrar Novo Fornecedor</button>
    <button routerLink="/cadastroProduto" mat-raised-button color="primary">Cadastrar Novo Produto</button>
    <button routerLink="/cadastroPedido" mat-raised-button color="primary">Fazer Pedido</button>
    <button routerLink="/listagemProduto" mat-raised-button color="primary">Listagem Produto</button>
    <button routerLink="/listagemPedido" mat-raised-button color="primary">Listagem Pedido</button>
   
    <div class="input_box" >
        <mat-form-field>
            <mat-label>Procurar</mat-label>
            <input matInput type="text" placeholder="Qual Registro está buscando?" (input)="search($event)">
        </mat-form-field>
    </div>
    
</div>
<div>
    <H2>FORNECEDORES</H2>
</div>
<table mat-table [dataSource]="fornecedores" class="mat-elevation-z8">

    <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let fornecedor"> {{fornecedor.id}} </td>
      </ng-container>

    <ng-container matColumnDef="RAZÃO SOCIAL">
      <th mat-header-cell *matHeaderCellDef> RAZÃO SOCIAL </th>
      <td mat-cell *matCellDef="let fornecedor"> {{fornecedor.razaoSocial}} </td>
    </ng-container>
  
    <ng-container matColumnDef="CNPJ">
      <th mat-header-cell *matHeaderCellDef> CNPJ </th>
      <td mat-cell *matCellDef="let fornecedor"> {{fornecedor.cnpj}} </td>
    </ng-container>
  
    <ng-container matColumnDef="UF">
      <th mat-header-cell *matHeaderCellDef> UF </th>
      <td mat-cell *matCellDef="let fornecedor"> {{fornecedor.uf}} </td>
    </ng-container>
  
    <ng-container matColumnDef="E-MAIL">
      <th mat-header-cell *matHeaderCellDef> E-mail </th>
      <td mat-cell *matCellDef="let fornecedor"> {{fornecedor.emailDeContato}} </td>
    </ng-container>

    <ng-container matColumnDef="NOME">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let fornecedor"> {{fornecedor.nomeDoContato}} </td>
    </ng-container>
  
    <ng-container matColumnDef="AÇÕES">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let fornecedor">
            <button routerLink="/editar/{{fornecedor.id}}" mat-raised-button color="accent">Editar</button>
    </ng-container>

    <ng-container matColumnDef="EXCLUIR">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let fornecedor">
            <button mat-raised-button color="warn" (click)="openDialog(fornecedor.id)">Excluir</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
  </table>
</mat-card>
<!--
<table class="table">
    <thead>
        <tr>
            <th>Razão Social</th>
            <th>CNPJ</th>
            <th>UF</th>
            <th>E-MAIL</th>
            <th>NOME</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let fornecedor of fornecedores">
        <tr>
            <td>{{fornecedor.razaoSocial}}</td>
            <td>{{fornecedor.cnpj}}</td>
            <td>{{fornecedor.uf}}</td>
            <td>{{fornecedor.emailDeContato}}</td>
            <td>{{fornecedor.nomeDoContato}}</td>
            <td>
                <button routerLink="/editar/{{fornecedor.id}}">Editar</button>
                <button>Detalhes</button>
            </td>
            <td>
                <button>Excluir</button>
            </td>
        </tr>

    </tbody>
</table>
-->>