<mat-card>
    <h1>{{btnTitulo}}</h1>
    
    <form [formGroup]="produtoForm" (ngSubmit)="submit()" #formDit="ngForm">
        <input type="hidden" formControlName="id">
        
        <div class="input_box">
            <mat-form-field>
               <mat-label>Nome:</mat-label>
               <input matInput type="text" formControlName="nome" placeholder="Digite o Nome" required>
            </mat-form-field>
        </div>
    
        <div class="input_box">
            <mat-form-field>
                <mat-label>Descrição:</mat-label>
                <input matInput type="text" formControlName="descricao" placeholder="Digite uma Descrição" required>
            </mat-form-field>
        </div>
    
        <div class="input_box">
            <mat-form-field>
                <mat-label>Valor:</mat-label>
                <input matInput type="text" formControlName="valor" placeholder="Digite o Valor" required>
            </mat-form-field>
        </div>
        
        <div class="btn-box">
            <button type="submit" [disabled]="!produtoForm.valid" mat-raised-button color="accent">{{btnAcao}}</button>
            <button routerLink="" mat-flat-button color="primary">Voltar</button>
        </div>
    
    </form>
    </mat-card>
